//- view all the products at admin level
doctype html
include ../includes/navigation.pug
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= pagetitle
    //- link(rel="stylesheet" href="/main.css")
    link(rel="stylesheet" href="/adminproducts.css")
  body
    block navbar
    .main-section
      h1.page-title Products
      .products-container
        if prods.length == 0
          p.no-products-message No products to display
        else
          .product-grid
            each product in prods
              .product-card
                img.product-img(src="https://www.dna-packaging.com/wp-content/uploads/2018/08/our-product-3.jpg" alt="productImg")
                .product-info
                  h2.product-title= product.title
                  p.product-description= product.description
                  h3.product-price $ #{product.price}
                .product-actions
                  a.edit-btn(href="/admin/edit-product/"+product._id+"?edit=true") Edit
                  form(action="/admin/delete-product", method="POST")
                    input(type="hidden" name="productID" value=product._id)
                    button.delete-btn(type="submit") Delete
