//- this is cart view at shop level
doctype html
include ../includes/navigation.pug
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= pageTitle
    link(rel="stylesheet" href="/navigation.css") 
    link(rel="stylesheet" href="/cart.css")
  body
    block navbar
    .main-container 
      .cart-container
        .cart-header
          h1.cart-title My Cart
        .cart-content
          if products && products.length
            each product in products
              .cart-card
                .cart-item
                  .cart-product-img
                    img(src=product.productId.image, alt="productImage")
                  .cart-product-info
                    h2.cart-item-title= product.productId.title
                    p.cart-item-price $ #{product.productId.price}
                    p.cart-item-qty Quantity: 
                      span= product.quantity
                    form.remove-cart-item(action="/cart-remove-product", method="post")
                      input(type="hidden" name="productId" value=product.productId._id)
                      input(type="hidden" name="_csrf" value=csrfToken)
                      button.remove-btn(type="submit") Remove
            .cart-summary
              .summary-box
                p Total: 
                  span.cart-total #{total}
                p Tax:(4%) 
                  span.cart-tax #{tax}
                p Delivery: (no delivery charges for orders above 200$)
                  span.cart-delivery #{delivery}
                p Final Amount: 
                  span.cart-final #{total+tax+delivery}
              .checkout-container
                //- form(action="/checkout", method="get")
                //-   //- input(type="hidden" name="_csrf" value=csrfToken)
                //-   button.checkout-btn(type="submit") Checkout
                a.checkout-btn(href="/checkout") checkout
          else
            p.cart-empty No products in your cart
