//- this is cart view at shop level
doctype html
include ../includes/navigation.pug
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= pageTitle
    link(rel="stylesheet" href="/navigation.css")
    link(rel="stylesheet" href="/cart.css")
  body
    block navbar
    .main-container 
      .cart-container
        .cart-header
          h1.cart-title My Cart
        .cart-content
          if products && products.length
            each product in products
              .cart-card
                .cart-item
                  .cart-product-img
                    img(src="https://www.dna-packaging.com/wp-content/uploads/2018/08/our-product-3.jpg", alt="productImage")
                  .cart-product-info
                    h2.cart-item-title= product.productId.title
                    p.cart-item-price $ #{product.productId.price}
                    p.cart-item-qty Quantity: 
                      span= product.quantity
                    form.remove-cart-item(action="/cart-remove-product", method="post")
                      input(type="hidden" name="productId" value=product.productId._id)
                      button.remove-btn(type="submit") Remove
            .cart-summary
              .summary-box
                p Total: 
                  span.cart-total $00
                p Tax: 
                  span.cart-tax $0
                p Delivery: 
                  span.cart-delivery $0
                p Final Amount: 
                  span.cart-final $00
              .checkout-container
                form(action="/orders", method="post")
                  button.checkout-btn(type="submit") Checkout
          else
            p.cart-empty No products in your cart
