//- this is cart view at shop level
doctype html
include ../includes/navigation.pug
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= pagetitle
    link(rel="stylesheet" href="/main.css")
    link(rel="stylesheet" href="/cart.css")
  body
    block navbar
    .main-container 
      .cart-container
        div
          h1.cart-title My Cart
        .cart-view
          if products && products.length
            each product in products
              .cart-card
                .cart-product
                  div
                    img(src="https://www.dna-packaging.com/wp-content/uploads/2018/08/our-product-3.jpg", alt="productImage")
                  div
                    h2.cart-item-title= product.title
                    p.cart-item-price $ #{product.price}
                    p.cart-item-qty quantity: 
                      span= product.qty
                    form.removeCartItem(action=`/cart-remove-product`, method="post")
                      input(type="hidden" name="productId" value=product.id)
                      button.remove-btn(type="submit") Remove

            .amount-container
              .price-box
                p Total: 
                  span $#{amount}
                p Tax: 
                  span 0
                p Delivery: 
                  span 0
                p Final Amount: 
                  span $#{amount}
              .checkout-container
                form(action="/checkout", method="post")
                  button.checkout-btn(type="submit") checkout
          else
            p No products in your cart
