//- this is index for base shop view at shop level
doctype html
include ../includes/navigation.pug


html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= pageTitle
    link(rel="stylesheet" href="/navigation.css")
    link(rel="stylesheet" href="/main.css")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    link(rel="stylesheet" href="/modal.css")
    link(rel="stylesheet" href="/pagination.css")
  body
    block navbar
    .main-section
      h1.page-title All Products 
      .products-container
        if prods.length == 0
          p.no-products-message No products to display
        else
          .product-grid
            each product in prods
                a.product-card(href='/product/' + product._id)
                      .product-image
                        img(src=product.image, alt='productImg')
                      .product-info
                        h2.product-name= product.title
                        .product-rating
                          i.star(class='fa fa-star')
                          p.rating-text 0 ratings
                        h3.product-price $ #{product.price}
                      .product-actions
                        form.cart-form(action="/cart" method="post")
                          input(type="hidden" name="productId" value=product._id)
                          input(type="hidden" name="_csrf" value=csrfToken)
                          button.cart-button(type="submit") Add to Cart
    include ../includes/pagination.pug
    //- Modal structure for login alert
    .modal#myModal
      .modal-content
        span.close(&times; onclick='closePopup()')
        p Login to your account to add the product to your cart

    //- Script to handle popup behavior
    script.
      function showPopup() {
        var modal = document.getElementById('myModal');
        modal.style.display = 'block';
        
        setTimeout(() => {
          closePopup();
        }, 3000); // Close after 3 seconds
      }

      function closePopup() {
        var modal = document.getElementById('myModal');
        modal.style.display = 'none';
      }

      // Check if the URL has the query parameter to show the modal
      if (window.location.search.includes("showModal=true")) {
        showPopup();
      }

      // Close the modal if the user clicks anywhere outside of it
      window.onclick = function(event) {
        var modal = document.getElementById('myModal');
        if (event.target === modal) {
          closePopup();
        }
      }
