doctype html
include ../includes/navigation.pug
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= pageTitle
    link(rel="stylesheet" href="/navigation.css") 
    link(rel="stylesheet" href="/main.css")
    link(rel="stylesheet" href="/orders.css")
  body
    block navbar
    .container
      .orders-header
        h1 Order History
      if orders.length > 0
        each order in orders
          .order-card.fade-in
            h2.order-id Order ID: ##{order._id}
            .order-items
              ul.order-list
                each item in order.products
                  li.order-item
                    .item-details
                      h3.item-title #{item.productId.title}
                      p.item-price $ #{item.productId.price}
                      p.item-quantity Quantity: #{item.quantity}
      else
        .no-orders
          p No orders to display
