//- this is user level to view product details

doctype html
include ../includes/navigation.pug
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= pageTitle
    link(rel="stylesheet" href="/navigation.css") 
    link(rel="stylesheet" href="/product-details.css")
  body
    block navbar
    .container
      .product-details-container
        .product-details-card
          img.product-image(src="https://www.dna-packaging.com/wp-content/uploads/2018/08/our-product-3.jpg", alt="product image")
          .product-info
            h1.product-name= productData.title
            p.product-description= productData.description
            h2.product-price $ #{productData.price}
            form.add-to-cart-form(action="/cart" method="post")
              input(type="hidden" name="_csrf" value=csrfToken)
              input(type="hidden" name="productId" value=productData._id)
              button.add-to-cart-btn(type="submit") Add to Cart
